.container {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    height: 100vh;
}
.images {
    display: flex;
    justify-content: space-between;
    width: 500%;
    height: 80vh;
}
.img {
   width: 20%;
   height: 80vh;
}
.img img {
   width: 100%;
   height: 100%;
}
.texts {
    margin-top: 2rem;
    width: 500%;
    display: flex;
    justify-content: space-between;
}
.text {
    width: 20%;
    font-size: 2rem;
    background-color: #76c8ff;
    color: white;
}
.overflow {
    width: 100%;
    overflow: hidden;

}

label,a {
    cursor: pointer;
}

.container input {
    visibility: hidden;
}
/* switch controls */

#switch1:checked ~ .foto-slides .images{
	margin-left: 0;
}
#switch1:checked ~ .text-slides .texts{
	margin-left: 0;
}

#switch2:checked ~.foto-slides .images{
	margin-left: -100%;
}
#switch2:checked ~ .text-slides .texts{
	margin-left: -100%;
}

#switch3:checked ~.foto-slides .images{
	margin-left: -200%;
}
#switch3:checked ~ .text-slides .texts{
	margin-left: -200%;
}

#switch4:checked ~.foto-slides .images{
	margin-left: -300%;
}
#switch4:checked ~ .text-slides .texts{
	margin-left: -300%;
}

#switch5:checked ~.foto-slides .images{
	margin-left: -400%;
}
#switch5:checked ~ .text-slides .texts{
	margin-left: -400%;
}
/* controllers */
.switcher label {
    border-radius: 1vh;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #bbb;
}
.switcher {
    margin: 1rem 0 0;
}
.switcher label:hover {
    background: #76c8ff;
	border-color: #777
}

#switch1:checked ~ .switcher label:nth-child(1),
#switch2:checked ~ .switcher label:nth-child(2),
#switch3:checked ~ .switcher label:nth-child(3),
#switch4:checked ~ .switcher label:nth-child(4),
#switch5:checked ~ .switcher label:nth-child(5){
	background: #18a3dd;
	border-color: #18a3dd !important;
}
.foto-slides .images, .text-slides .texts {
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.switcher label:hover {
    opacity: 0.6;
}
.switcher label {
    transition: opacity 0.2s ease-out;
}
@media(max-width:550px){
    .images {
        height: 60vh;
    }
    .img {
        height: 60vh;
    }
    .img img {
        height: 60vh;
    }
}
@media(max-width:460px){
        .images {
        height: 50vh;
    }
    .img {
        height: 50vh;
    }
    .img img {
        height: 50vh;
    }
}