body {
    background-color: aquamarine;
}
.container {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}
.images {
    display: flex;
    justify-content: space-between;
    width: 500%;
}
.img {
   width: 20%;
}
.img img {
   width: 100%;
}
.texts {
    margin-top: 2rem;
    width: 500%;
    display: flex;
    justify-content: space-between;
}
.text {
    width: 20%;
    font-size: 2rem;
    background-color: #76c8ff;
    color: white;
}
.overflow {
    width: 100%;
    overflow: hidden;
}

label,a {
    cursor: pointer;
}

.container input {
    visibility: hidden;
}
/* switch controls */

#switch1:checked ~ .foto-slides .images{
	margin-left: 0;
}
#switch1:checked ~ .text-slides .texts{
	margin-left: 0;
}

#switch2:checked ~.foto-slides .images{
	margin-left: -100%;
}
#switch2:checked ~ .text-slides .texts{
	margin-left: -100%;
}

#switch3:checked ~.foto-slides .images{
	margin-left: -200%;
}
#switch3:checked ~ .text-slides .texts{
	margin-left: -200%;
}

#switch4:checked ~.foto-slides .images{
	margin-left: -300%;
}
#switch4:checked ~ .text-slides .texts{
	margin-left: -300%;
}

#switch5:checked ~.foto-slides .images{
	margin-left: -400%;
}
#switch5:checked ~ .text-slides .texts{
	margin-left: -400%;
}
/* controllers */
.switcher label {
    border-radius: 1rem;
    display: inline-block;
    width: 3rem;
    height: 3rem;
}
.circle {
    margin: 0.7rem ;
    width: 1.5em;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: rgb(212, 204, 204);
}
.switcher {
    margin: 1rem 0 0;
}
label:hover .circle {
    background: rgb(255, 131, 255);
	border-color: #777;
    transition: 0.3s;
}

#switch1:checked ~ .switcher label:nth-child(1) .circle,
#switch2:checked ~ .switcher label:nth-child(2) .circle,
#switch3:checked ~ .switcher label:nth-child(3) .circle,
#switch4:checked ~ .switcher label:nth-child(4) .circle,
#switch5:checked ~ .switcher label:nth-child(5) .circle{
	background: rgb(216, 55, 216);
	border-color: rgb(243, 77, 243) !important;
    transition: 0.3s;
}
.foto-slides .images, .text-slides .texts {
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.switcher label:hover {
    opacity: 0.6;
}
.switcher label {
    transition: opacity 0.2s ease-out;
}
@media(max-width:1200px){
    .container {
        width: 50%;
    }
}
@media(max-width:800px){
    .container {
        width: 60%;
    }
}
@media(max-width:550px){
    .container {
        width: 85%;
    }
}
 